*{
    user-select: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.app{
    min-height: 100vh;
    background-color: burlywood;
}
header{
    min-height: 10vh;
    background-color: brown;
}
main{
    min-height: 80vh;
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}
footer{
    min-height: 10vh;
    background-color: brown;
}